<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
</head>
<body>
	<h3>SHIPMENT REGISTER PAGE</h3>
	<form th:action="@{/shipmentType/save}" method="post"
		th:object="${shipment}">
		<pre>

<!-- SHIPMENT ID      <input type="text" th:field="*{id}" readOnly="readOnly" /> -->

SHIPMENT MODE    <select th:field="*{shipmentMode}">
             <option value="">-SELECT-</option>
             <option value="AIR">AIR</option>
             <option value="TRUCK">TRUCK</option>
            <option value="TRAIN">TRAIN</option>
            <option value="SHIP">SHIP</option>
             </select>
       
SHIPMENT CODE <input type="text" th:field="*{shipmentCode}" />
                  
ENABLE SHIPMENT <select th:field="*{enableShipment}">
<option value="">-SELECT-</option>
<option value="YES">YES</option>
<option value="NO">NO</option>
</select>

SHIPMENT GRADE <input type="radio" th:field="*{shipmentGrade}" value="A" />A
               <input type="radio" th:field="*{shipmentGrade}" value="B" />B
               <input type="radio" th:field="*{shipmentGrade}" value="C" />C
               
NOTE           <textarea th:field="*{description}"></textarea>
               
</pre>
                   <input type="submit" value="Register">

	</form>
	<span th:text="${msg}"></span>
</body>
</html>