<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
</head>
<body>
<h3>WELCOME TO UOM DATA PAGE</h3>
<table border="1">
<tr>
<th>ID</th>
<th>UOM TYPE</th>
<th>UOM MODEL</th>
<th>DESCRIPTION</th>
<th colspan="2">OPERATIONS</th>
</tr>
  
<tr th:each="ob:${list}">
<td th:text="${ob.uomId}"/>
<td th:text="${ob.uomType}"/>
<td th:text="${ob.uomModel}"/>
<td th:text="${ob.uomDescription}"/>
<td><a th:href="@{/uom/edit/{id}(id=${ob.uomId})}">EDIT</a>
<td><a th:href="@{/uom/delete/{id}(id=${ob.uomId})}">DELETE</a>



</tr>
</table>
</body>
</html>